.InputSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: start;
    
}
.InputArea{
    display:flex;
    flex-direction: row;
    justify-content: space-around ;
    width: 200vh;
    align-items: center;
}
button{
    height: 70%;
}
.Img{
    width: 100px;
    height: 50px;
}

#modeBtn{
   background: none ;
   width: auto;
   padding: 0;
}